if SHIELD_MEISHI_TRACKBALL

config ZMK_KEYBOARD_NAME
	default "Trackball BLE"

if ZMK_DISPLAY

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default y

endif # ZMK_DISPLAY

endif